/** 
 * 全局样式配置
 * 配色方案来自 https://tailwindcss.com/docs/customizing-colors
 */

// 全局变量
:root
  // 常用尺寸
  --margin 24px
  --radius 10px
  --container 1600px

  // 常用配色
  --c-white #fff
  --c-scrollbar #eee
  --c-scrollbar-hover #bbb

// 区分显示模式的变量
html
  // 暗黑模式
  &.dark
    --c-bg #141414
    --c-text #f8f8f8
  // 普通模式
  &:not(.dark)
    --c-bg #f8f8f8
    --c-text #141414
    // --prism-foreground: #393a34;
    // --prism-background: #fbfbfb;
    // --prism-comment: #b8c4b8;
    // --prism-string: #c67b5d;
    // --prism-literal: #3a9c9b;
    // --prism-keyword: #248459;
    // --prism-function: #849145;
    // --prism-deleted: #a14f55;
    // --prism-class: #2b91af;
    // --prism-builtin: #a52727;
    // --prism-property: #ad502b;
    // --prism-namespace: #c96880;
    // --prism-punctuation: #8e8f8b;
    // --prism-decorator: #bd8f8f;
    // --prism-json-property: #698c96;



// // 常用尺寸
// $radius = 10px
// $margin = 24px
// $width-container = 1200px

// // 常用配色
// $color-bg = #f7f8f9
// $color-bg-footer = #383B46
// $color-title = #384452
// $color-text = #262626
// $color-note = #6b7074
// $color-desc = #959595
// $color-border = #f0f0f0
// $color-mask = rgba(0,0,0,0.4)

// $color-blue = #293FAE
// $color-dark-blue = #142CA5
// $color-purple = #293FAE
// $color-light-purple = #7F97D9
// $color-green = #4caf50
// $color-red = #ec4747
// $color-white = #fff
// $color-orange = #ff7811
// $color-gray = #f7f7f7
// $color-dark-gray = #8c8c8c

// // 公共样式
// .ex-clear {
//   content ""
//   display table
//   clear both
// }
// .ex-img {
//   width 100%
//   height 100%
//   object-fit cover
// }
// .ex-bg {
//   background-size 100% 100%
//   background-position center center
//   background-repeat no-repeat
// }
// .ex-font {
//   text-shadow 0 0 5px rgba(59,33,30,0.1)
//   background-image -webkit-gradient(linear,0 0,0 bottom,from(#fff9b1),to(#f6ad3c),color-stop(0.25,#f6ad3c),color-stop(0.75,#fff9b1))
//   -webkit-background-clip text
//   -webkit-text-fill-color transparent
// }
