@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--c-bg);
  @apply text-gray-700;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  @apply text-gray-200;
}