/**
 * name: chengpeiquan.com
 * version: v0.1.0
 * description: My personal website, technology stack based on Vue.js 3.0, and Vite 2.0, use Server Side Generation.
 * author: chengpeiquan
 * homepage: https://chengpeiquan.com/
 */
.video-player[data-v-36dbc980]{--tw-bg-opacity: 1;background-color:rgba(0,0,0,var(--tw-bg-opacity));border-radius:.25rem;height:0px;overflow:hidden;position:relative;width:100%;padding-top:56.3%}.video-player video[data-v-36dbc980]{height:100%;margin:0;position:absolute;top:0px;left:0px;width:100%}
