/**
 * name: chengpeiquan.com
 * version: v0.1.0
 * description: My personal website, technology stack based on Vue.js 3.0, and Vite 2.0, use Server Side Generation.
 * author: chengpeiquan
 * homepage: https://chengpeiquan.com/
 */
.google-adsense[data-v-73d04e62]{width:100%;max-width:100%!important;max-height:136px!important;overflow:hidden!important}.article-sidebar[data-v-1c431d04]{width:340px}.dark .block-title[data-v-1c431d04]{--tw-border-opacity:1;border-color:rgba(255,255,255,var(--tw-border-opacity));--tw-border-opacity:0.05}.block-title[data-v-1c431d04]{border-bottom-width:1px;font-weight:700;font-size:1.25rem;line-height:1.75rem;margin-bottom:1rem;padding-bottom:1rem}.article-title[data-v-1c431d04]{text-align:justify}.article-toc-container[data-v-1c431d04] .article-toc li{margin-left:0}