/**
 * name: chengpeiquan.com
 * version: v0.1.0
 * description: My personal website, technology stack based on Vue.js 3.0, and Vite 2.0, use Server Side Generation.
 * author: chengpeiquan
 * homepage: https://chengpeiquan.com/
 */
.dark .block-title[data-v-558895e4]{--tw-border-opacity: 1;border-color:rgba(255,255,255,var(--tw-border-opacity));--tw-border-opacity: .05}.block-title[data-v-558895e4]{border-bottom-width:1px;font-weight:700;font-size:1.25rem;line-height:1.75rem;margin-bottom:1rem;padding-bottom:1rem}.article-sidebar[data-v-e0eae3a4]{width:340px}.dark .block-title[data-v-e0eae3a4]{--tw-border-opacity: 1;border-color:rgba(255,255,255,var(--tw-border-opacity));--tw-border-opacity: .05}.block-title[data-v-e0eae3a4]{border-bottom-width:1px;font-weight:700;font-size:1.25rem;line-height:1.75rem;margin-bottom:1rem;padding-bottom:1rem}.article-title[data-v-e0eae3a4]{text-align:justify}.article-toc-container[data-v-e0eae3a4] .article-toc li{margin-left:0}
